<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather app</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div>
        <form action="/details" method="post">
            <input type="text" value="city name" name="city">
            <input type="submit" value="get data" name="getdata">
        </form>
    </div>
</body>
</html>